postgres:
  image: postgres:9
  env_file: .env
  expose:
    - "5432"
  volumes:
    - /data/sentry/postgres:/var/lib/postgresql
  restart: always

redis:
  image: redis
  volumes:
    - /data
    - /data/sentry/redis:/data
  expose:
    - "6379"
  restart: always

sentry:
  image: sentry:8.3.2
  env_file: .env
  links:
    - postgres
    - redis
  ports:
    - "9000:9000"
  restart: always
  volumes:
    - .:/src

beat:
  image: sentry:8.3.2
  command: sentry celery beat
  env_file: .env
  links:
    - postgres
    - redis
  restart: always

worker:
  image: sentry:8.3.2
  command: sentry celery worker
  env_file: .env
  links:
    - postgres
    - redis
  restart: always
