version: '2'
services:
  redis:
    image: redis
    volumes:
      - /data/sentry/redis:/data
    expose:
      - "6379"
    restart: always
    networks:
      - sentry

  sentry:
    image: sentry:8.5.1
    env_file: .env
    links:
      - redis
    ports:
      - "9000:9000"
    restart: always
    networks:
      - sentry

  beat:
    image: sentry:8.5.1
    command: sentry run cron
    env_file: .env
    links:
      - redis
    restart: always
    networks:
      - sentry

  worker:
    image: sentry:8.5.1
    command: sentry run worker
    env_file: .env
    links:
      - redis
    restart: always
    networks:
      - sentry

networks:
  sentry:
    driver: overlay
    ipam:
      config:
      - gateway: 10.70.10.1
        subnet: 10.70.10.0/24
      driver: default
